* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #555555;
}

header {
    display: flex;
    height: 12vh;
    background: rgba(0, 0, 0, 0.60);
    justify-content: center;
    align-items: center;
}

.header-box {
    display: flex;
    width: 84vw;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
}

ul {
    display: flex;
    list-style: none;
    width: 44vw;
    border: 2px solid red;
    justify-content: space-between;
}

header h3 {
    font-size: 16px;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

.box1 {
    display: flex;
    align-items: center;
}

.welcome-img {
    background-image: url('./assets/orlando-lago-lucerna.jpg');
    background-size: 100% 100%;
    width: 60vw;
    height: 74vh;
}

.box-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42vw;
    height: 74vh;
    background-color: white;
}

fieldset {
    width: 28vw;
    padding: 2vw;
    font-family: "Roboto";
    border-radius: 5px;
}

legend {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#email, #senha {
    height: 46px;
    border-radius: 5px;
    border: #E8E8E8 1px solid;
}

label {
    font-size: 16px;
}

.box-div {
    display: flex;
    justify-content: space-between;
}

form a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

span {
    color: #2B6CB0;
}

.box1 button {
    display: flex;
    height: 46px;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
}

.button-entrar {
    background-color: #0057FF;
    color: white;
    font-size: 16px;
}

.button-google {
    background-color: #1A202C;
    color: white;
    font-size: 16px;
}

.button-google img {
    margin-right: 8px;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    color: white;
    padding: 12vh 4vw;
    gap: 20px;
    font-family: "Roboto";
}

h1 {
    font-size: 32px;
}

.box2 p {
    font-size: 20px;
    width: 60vw;
    text-align: center;
    line-height: 28px;
}

.box3 {
    display: flex;
    justify-content: center;
}

.box3 section {
    display: flex;
    width: 33.3vw;
    justify-content: space-around;
    align-items: center;
}

.guia {
    background-color: #0040BD;
}

.gastronomia {
    background-color: #0085FF;
}

.compras {
    background-color: #B15D5D;
}

footer {
    display: flex;
    height: 16vh;
    background-color: rgba(0, 0, 0, 60%);
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto";
}